@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0;
}

html {
    font-family: 'Rubik', sans-serif;
    background-color: var(--light-grayish-blue-2);
}

:root {
    /* Primary colors */
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    /* Neutral colors */
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}

.container-notification {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.notification-box {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    background-color: var(--white);
    border-radius: 10px;
    gap: 20px;

}

.notification-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;
    text-align: center;
    font-weight: 500;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
}

.notification-read-all:hover {
    cursor: pointer;
    color: var(--blue);
    transition: 400ms;
}

.notification-interaction {
    color: var(--very-dark-blue);
    font-weight: 700;
}

.notification-interaction:hover {
    cursor: pointer;
    color: var(--blue);
    transition: 400ms;
}

.notification-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.notification-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.notification-username {
    color: var(--very-dark-blue);
    font-size: 16px;
    font-weight: 700;
}

.notification-username:hover {
    cursor: pointer;
    color: var(--blue);
    transition: 400ms;
}

.notification-image-profile {
    width: 45px;
    height: 45px;
}

.notification-content {
    display: flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.notification-time-ago {
    color: var(--dark-grayish-blue);
    font-size: 12px;
    margin-top: 5px;
}

.notification-message-received {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--light-grayish-blue-2);

}

.notification-content-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.notification-image-card {
    width: 45px;
    height: 45px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: -35px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}